body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

.box {
  background: white;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  border-radius: 6px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
